<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="top.codemc.liveappuidemo">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreateLiveActivity"/>
        <activity
                android:name=".PlayLiveActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".ShowUserInfo"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
                android:name=".GirdViewActivity"
                android:label="@string/title_activity_gird_view">
        </activity>
        <activity
                android:name=".CloseLiveActivity"
                android:label="@string/title_activity_close_live">
        </activity>
        <activity
                android:name=".ViewPageActivity"
                android:label="@string/title_activity_view_page">
        </activity>
        <activity android:name="com.example.animation.MainActivity"/>
        <activity
                android:name=".ChargeActivity"
                android:label="@string/title_activity_charge">
        </activity>
        <activity
                android:name=".TimeCountDown"
                android:label="@string/title_activity_time_count_down">
        </activity>
        <activity
                android:name=".HeartActivity"
                android:label="@string/title_activity_heart">
        </activity>
    </application>

</manifest>